.subtoolbar
  #tabs
    #utracs-tab
      %ul#nav
        %li
          %p= link_to 'Home', :root
        %li
          %p= link_to "Firms", firms_path
          %ul
            %li
              %a{:href => "#"} Prospects
            %li
              %a{:href => "#"} Existing
        %li
          %p Contacts
          %ul
            %li
              %a{:href => "#"} Existing
            %li
              %a{:href => "#"} Prospects
            %li
              %a{:href => "#"} Service Providers
            %li
              %a{:href => "#"} Other
        %li
          %p= link_to 'Notes', notes_path
          %ul
            %li
              %a{:href => "#"} LCC
            %li
              %a{:href => "#"} MCC
            %li
              %a{:href => "#"} Privates
            %li
              %a{:href => "#"} Real Estate
            %li
              %a{:href => "#"} Natural Resources
            %li
              %a{:href => "#"} All
        %li
          %p= link_to 'Documents', documents_path

    #groups-tab
      %ul
        %li Privates
        %li MCC
        %li LCC
        %li Natural Resources
        %li Real Estate
        %li Risk
        %li Accounting
    #apps-tab
      %ul
        %li Pricing
        %li MARS
        %li Bondedge
        %li Travel Calendar
        %li Daily Performance
        %li Mellon Downloads
        %li More...
    #staff-tab
      %ul
        %li Policies
        %li Retirement
        %li Insurance
        %li Comp Program
        %li Compliance Hotline
        %li Holidays
        %li Employee Directory
    #favorites-tab
      %ul
        %li LCC
        %li Notes
        %li Maverick
        %li Perry
        %li MARS
        %li Mellon Downloads
        %li Contacts
    #settings-tab
      / %ul
      /   %li Privates
      /   %li MCC
      /   %li LCC
      /   %li Natural Resources
      /   %li Real Estate
      /   %li Risk
      /   %li Accounting






