- @search = Document.search
- @documents = @search.results

.toolbar
  .toolbar-box
    .logo
      %h1 UTIMCO
    .search
      .search-box
        = render template: 'documents/index'
      .search-help



