- @documents = Document.all
- @firms = Firm.all

= render partial: 'shared/toolbar'

.content
  .title
    %h1 Happy Monday
  .main
    .documents-container.mainwidth
      .tabs
        %p Documents
        %ul
          %li Recent
          %li All
      .container-box.mainwidth
        = render partial: 'documents/widget'

    .documents-container.mainwidth
      .tabs
        %p Notes
        %ul
          %li Recent
          %li All
      .container-box.mainwidth
  .sidebar
    .documents-container.sidebarwidth
      .tabs
        %p Favorites
        %ul
          %li Yours
          %li Group
      .container-box.sidebarwidth
        = render partial: 'firms/widget'

    .documents-container.sidebarwidth
      .tabs
        %p Emails
        %ul
          %li Yours
          %li Group
      .container-box.sidebarwidth

//launch elastic search with: elasticsearch -f -D es.config=/usr/local/Cellar/elasticsearch/0.18.7/config/elasticsearch.ym



