= render partial: 'shared/toolbar'

.content
  .title
    %h1 Happy Monday
  .documents-container.main
    .tabs
      %p Documents
      %ul
        %li Logo
        %li All
    .container-box.main


  .documents-container.sidebar
    .tabs
      %p Emails
      %ul
        %li Yours
        %li Group
    .container-box.sidebar
      = render :template => 'documents/index'



