%table
  - @search_results.each do |document|
    %tr
      %td= link_to (document.filename), document
      %td= link_to 'Open', document
      %td= link_to 'Edit', edit_document_path(document)
      / %td= link_to 'Delete', document, :confirm => 'Are you sure?', :method => :delete