.search-form
  .green
    = form_tag documents_path, method: :get, id: "documents_search" do
      / = submit_tag "Search", name: nil
      = text_field_tag :query, params[:query], :placeholder => 'Enter Search...'

#documents
  = render partial: 'documents/documents'

/ %br

/ = link_to 'New Document', new_document_path
