$lightgrey: #F1F2F2;
$darkgrey: #808285;
$mediumgrey: #D1D3D4;

// .tabs ul li {
//   float: left;
//   width: 80px;
//   height: 0;
//   border-left: 12px solid transparent;
//   border-right: 12px solid transparent;
//   border-bottom: 30px solid #F1F2F2;
//   padding: 0 0 0 10px;
//   width: 80px;
//   bottom: 20px;
// }

.main {
  float: left;
  width: 780px;
  margin-right: 30px;
}

.sidebar {
  float: left;
  width: 390px;
}

.documents-container {
  float: left;
  // max-height: 300px;
  // overflow: scroll;
}

.tabs p {
  float: left;
  padding: 5px 10px 7px 0;
}
.tabs ul li {
  position: relative; //necessary for z-index to work
  background: white;
  float: left;
  margin: 1px 0 0 10px;
  width: 90px;
  height: 21px;
  border: 1px black;
  padding: 4px;
  text-align: center;
  border-radius: 12px 12px 0 0;
  border-top: 1px solid #D1D3D4;
  border-left: 1px solid #D1D3D4;
  border-right: 1px solid #D1D3D4;
  z-index: 1;
  opacity: 0.5;
}

.tabs ul li:first-child {
  height: 22px;
  opacity: 1;
}

.buttons {
  float: right;
  padding: 7px 0 0 0;
}

.new {
  background-image: url('buttons/new.png');
  background-repeat: no-repeat;
  opacity: 0.6;
}
.edit {
  background-image: url('buttons/edit.png');
  background-repeat: no-repeat;
  opacity: 0.6;
}

.view-all {
  background-image: url('buttons/folder.png');
  background-repeat: no-repeat;
  opacity: 0.6;
}

.buttons b {
  padding: 0 0 0 30px;

}

.row ul li {
  float: left;
  width: 250px;
  overflow: hidden;

}
.container-box {
  float: left;
  top: -1px;
  position: relative;
  background: white;
  border: 1px $mediumgrey;
  border-style: solid;
  border-color: 1px #D1D3D4;
  min-height: 30px;
  height: 100%;
}

.sidebarwidth {
  width: 390px;
  margin: 0 0 10px 0;
}

.mainwidth {
  width: 780px;
  margin: 0 30px 10px 0;
}