// Place all the styles related to the Firms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$darkgrey: #808285;

.field input[type="text"] {
margin: 0;
padding: 0;
float: none;
position: relative;
}

.field label {
  display: block;
  width: 600px;
}

.actions {
  float: left;
}

.detail {
  padding: 5px;
}

.detail p {
  display: block;
  float: left;
}

.detail p b {
  font-size: 14px;
  width: 85px;
  display: block;
  float: left;
  padding: 3px 0 0 0;
  // color: $darkgrey;
}

.widget.note .row {
  height: 34px;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  overflow: hidden;
}

.widget.note .row:hover {
  height: 140px;
}