.toolbar {
  width: 100%;
  height: 46px;
  background: black;
  color: white;
}

.toolbar h1 {
  background-image: url('utimco-logo-small.png');
  background-repeat: no-repeat;
  padding: 3px 0 0 45px;
  height: 46px;
}

.toolbar-box {
  position: relative;
  width: 960px;
  margin: 0 auto;
}

.logo {
  float: left;
  padding: 4px 0 0 0;
}

.search {
  color: black;
  position: absolute;
  right: 0px;
  width: 400px;
  height: auto;
  // opacity: 1;
  background: white;
  -webkit-border-radius: 0 0 12px 12px;
  -moz-border-radius: 0 0 12px 12px;
  border-radius: 0 0 12px 12px;
  border: 1px solid black;
  -webkit-transition: height .3s linear;
  -moz-transition: height .3s linear;
  -o-transition: height .3s linear;
  transition: height .3s linear;
  z-index: 3;
}
